/*

.wrapper{
	background:green;
	float:left;
	padding-left:20px;
	width:50%;
	margin:0px 20px;
}

.contact-info{
	float:right;
	background:blue;
	padding-left:20px;
	width:40%;
	margin-left:30px;

}

.footer{
	background: #e7e7e7;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px;
	text-align:center;
	position: relative;
	border-top: 5px solid black;
	bottom:0;
	clear:both;
	background:#e7e7e7;
	padding: 20px 20px 20px 60px;
	color:#333;
	width:100%;
	margin:0 auto 0 auto
	bottom:0;
}

.li-navigation {
    list-style-type: none;
    margin: 20;
    padding: 20;
    position:relative;

}*/

 h1{
 	float: left;
 	margin-left:60px;
 	background-size: 100px;
 	padding:31.5px 20px;
 	background-color:blue;
 	margin-top:0;
 	height: ;
 }
nav{
	float:right;
}
li{
	display:inline;
	clear:both;
}
header{
	width:110%;
	height: 100px;
	margin-top:-10px;
	background-color:red;
	border-bottom-style: solid;
	border-bottom-color:black;
	border-size:5px;

}

footer{
	width:110%;
	height:100px;
	text-align:center;
	background-color:red;
	margin-left:-10px;
	position:absolute;
	bottom:0;
	border-top:solid;
	border-top-color:black;

}


