body{
	color:black;
}

.header-border{
	background:#e7e7e7;
	padding: 20px 20px 20px 60px;
	margin-bottom :20px;
	color:#333;
	border-bottom: 5px solid black;
	width:100%;
}

.header-name{
	background:#e7e7e7;
	padding-left:20px;
	border:10px;
	margin-left:60px;
	margin-right:0%;
	float:left;

}

.bio{
	padding:20px;
	clear:both;
}



.wrapper{
	background:green;
	float:left;
	padding-left:20px;
	width:70%;
}

.contact-info{
	float:left;
	background:blue;
	padding-right:20px;
}

.footer{
	background: #e7e7e7;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 20px;
	text-align:center;
	position: relative;
	border-top: 5px solid black;
	bottom:0;
	clear:both;
}

.navigation {
    list-style-type: none;
    margin: 20;
    padding: 20;
    display:inline;
    position:relative;

}



